# 마크다운 제외
*.md

# package 제외
package.json

# node 모듈 제외
node_modules/

appspec.yml
artillery.yaml

.prettierrc.cjs

.next
node_modules
build
dist
coverage
.vercel
public
pnpm-lock.yaml
package-lock.json
yarn.lock