@tailwind base;
@tailwind components;
@tailwind utilities;

.main-background {
  background-image: url("/images/escape_room_main.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
.start-button {
  position: absolute;
  cursor: pointer;
  width: 300px;
  height: 100px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: none;
}
.continue-button {
  position: absolute;
  cursor: pointer;
  width: 300px;
  height: 100px;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: none;
}
